<launch>
  <node name="test_extract_line_from_laser" pkg="laser_line" type="test_extract_line_from_laser" output="screen" >
    <param name="~frame_id" value="laser" />
    <param name="~scan_topic" value="/scan" />
    <param name="~frequency" value="15.0" />
    <param name="~show_lines" value="true" />
    <param name="~least_thresh" value="0.03" />
    <param name="~min_line_length" value="0.6" />
    <param name="~predict_distance" value="0.1" />
    <param name="~seed_line_points" value="6" />
    <param name="~min_line_points" value="8" />
  </node>
</launch>

